{% extends 'base.html.twig' %}

{% block title %}
    Login
{% endblock %}

{% block body %}
    <form action="{{ path('login') }}" method="post">
        <div class="row form-row">
            <div class="col-md-4">
                <label for="username">Username</label>
            </div>
            <div class="col-md-8">
                <input type="text" id="username" name="_username" value="{{ lastUsername }}" class="form-control" />
            </div>
        </div>
        <div class="row form-row">
            <div class="col-md-4">
                <label for="password">Password</label>
            </div>
            <div class="col-md-8">
                <input type="password" id="password" name="_password" class="form-control" />
            </div>
        </div>
        <div class="row form-row-submit">
            <div class="col-md-12">
                <input type="submit" class="btn btn-success" value="Submit" />
            </div>
        </div>
    </form>
{% endblock %}